<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users - CornelVHub</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/CZY-logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div id="branding-logo" class="nav-section">
            <a href="{{ url_for('dba_dashboard') }}" id="branding-logo">CornelVHub</a>
        </div>
        <div id="nav-allmov-section" class="nav-section">
            <a href="https://www.instagram.com/corneliusyoga/" target="blank">INSTAGRAM</a>
        </div>
        <div id="nav-social-section" class="nav-section">
            <a href="https://www.linkedin.com/in/cornelius-yoga-783b6a291/" target="blank">LINKEDIN</a>
        </div>
        <div id="nav-signin-section" class="nav-section">
            <a href="https://github.com/CZY774" target="blank">GITHUB</a>
        </div>
    </nav>
    
    <div class="dashboard-container">
        <nav id="dashboard-nav">
            <a href="/dashboard/dba/manage-users">Manage Users</a>
            <a href="/dashboard/dba/manage-banks">Manage Banks</a>
            <a href="/dashboard/dba/manage-branches">Manage Branches</a>
            <a href="/dashboard/dba/manage-vendors">Manage Vendors</a>
            <a href="/logout" id="logout">Logout</a>
        </nav>
        
        <main id="includedContent">
            <!-- Content will be loaded dynamically -->
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/manage-users.js') }}"></script>
</body>
</html>
