<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyek Akhir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <nav>
        <div id="branding-logo" class="nav-section">
          <p id="branding-logo">CornelVHub</p>
        </div>
        <div id="nav-allmov-section" class="nav-section">
          <a href="https://www.instagram.com/corneliusyoga/" target="blank">INSTAGRAM</a>
        </div>
        <div id="nav-social-section" class="nav-section">
          <a href="https://www.linkedin.com/in/cornelius-yoga-783b6a291/" target="blank">LINKEDIN</a>
        </div>
        <div id="nav-signin-section" class="nav-section">
          <a href="https://github.com/CZY774" target="blank">GITHUB</a>
        </div>
      </nav>
    <main>
        <article>
            <div class="article-title-section article-section">
                <h1 id="article-header">CornelVHub</h1>
                <h4 id="article-subheader">Your trusted solution for seamless vendor, bank, and branch management, empowering businesses to streamline operations with precision and efficiency.</h4>
                <p id="login">
                    <a id="tombol-login" href="{{ url_for('login') }}">Get Started</a>
                </p>
            </div>

            <div class="question-answer-section article-section">
                <p class="article-answer-section article-section">Transform complex vendor management from time-consuming manual processes to a streamlined digital ecosystem.</p>
                <p class="article-question-section article-section">Unparalleled Efficiency</p>
            </div>
            <br>
            <div class="question-answer-section2 article-section2">
                <p class="article-question-section article-section2">Comprehensive Control</p>
                <p class="article-answer-section2 article-section2">Centralize your vendor data with role-based access, ensuring security, consistency, and precise information management.</p>
            </div>
            <br>
            <div class="question-answer-section article-section">
                <p class="article-answer-section article-section">Designed to grow with your business, our platform adapts seamlessly to increasing vendor networks and complexity.</p>
                <p class="article-question-section article-section">Scalable Architecture</p>
            </div>
            <br>
            <div class="question-answer-section2 article-section2">
                <p class="article-question-section article-section2">Advanced Security</p>
                <p class="article-answer-section2 article-section2">Implement robust role-based access controls, protecting sensitive vendor information with military-grade precision.</p>
            </div>
        </article>
    </main>
    
    <p class="footer" id="author">
        by Cornelius Yoga - 672022204
    </p>
</body>
</html>